---
import { getCollection } from "astro:content";
import Layout from "~/layouts/base.astro";
import { Donut } from "~/components/donut";
import { LINK } from "~/components/cta";

const projects = await getCollection("projects");
---

<Layout title="Almas Sapar">
  <main class="grid grid-cols-1 md:grid-cols-6 gap-1.5 grow rounded-xl">
    {
      projects.map(async (project) => {
        const { Content } = await project.render();

        return <Content view="sm" />;
      })
    }
    <div
      class="flex flex-col relative justify-between gap-0.5 lg:flex-row bg-black col-span-full lg:h-[480px] h-[calc(100dvh-64px)] overflow-hidden rounded-xl p-2 md:p-12 lg:pr-24"
    >
      <p
        class="w-full p-6 pb-24 text-3xl leading-none tracking-tighter text-white md:text-5xl lg:p-0 rounded-xl xl:text-6xl"
      >
        Want to chat? <br />
        <span class="text-neutral-400">Available for projects</span>
      </p>

      <Donut
        client:visible
        className="w-[330px] h-[330px] absolute top-1/2 left-12 "
      />

      <div
        class="p-1 pb-2 duration-200 absolute bg-gradient-to-b right-1/2 translate-x-1/2 lg:translate-x-0 bottom-8 lg:right-8 from-neutral-50 to-neutral-200 rounded-[32px] xl:rounded-[42px] group hover:scale-105 hover:from-[#FD954A] hover:to-[#EB6706]"
      >
        <a
          href={LINK}
          target="_blank"
          class="bg-gradient-to-b block whitespace-nowrap text-6xl xl:text-7xl from-neutral-100 text-neutral-700 to-neutral-50 px-10 py-3 xl:px-14 xl:py-6 tracking-tight rounded-[32px] xl:rounded-[42px] group-hover:text-white group-hover:from-[#FD7615] group-hover:to-[#FD8229] duration-200"
          >Let’s connect</a
        >
      </div>
    </div>
  </main>
</Layout>
